.shoeName{
    text-transform: uppercase;
    text-align: center;
    text-decoration: yellow underline;
    background-color: red;
    font-size: 50px;
    width: 50%;
    margin-left: 25%
}

.first {
    float: left;
    width: 55%;
    background-color: blue;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    color: yellow;
}

.second{
    float: right;
    background-color: yellow;
    border-radius: 25px;
    font-size: 20px;
    width: 25%;
    margin-right: 5%;
    color: blue;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.detailImg {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: auto;
}

.description{
    margin-left: 10px;
    float: left;
    width: 25%;
    font-size: 20px;
}

.story{
    text-align: center;
    font-size: 30px;
}

.delete{
    background-color: red;
    font-size: 16px;
    padding: 10px 24px;
    color: yellow;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ds{
    text-decoration: underline;
    font-weight: bold;
}

.date{
    margin-left: 25px;
}

.shoestyle{
    padding: 0px;
}