header{
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    color: blue;
    margin: 0;
    padding: 0;
    height: 100px;
}

.header{
    text-align: center;
    margin-left: 30%;
    font-size: 55px;
}